body {
	font-family: sans-serif;
}

h1 {
	font-size: x-large;
	text-align: center;
}

h2 {
	font-size: large;
	text-align: center;
}

p {
	text-align: justify;
}

#Container {
	margin: 0 auto;
	width: 600px;
	border-style: solid;
	padding: 20px;
}

